.bolo-1 {
    background: url(img/produtos/cake1.jpg) no-repeat center;
    background-size: 110%;
    opacity: 80%;
}


.bolo-2 {
    background: url(img/produtos/cake2.jpg) no-repeat center;
    background-size: 110%;
    opacity: 80%;
}

.bolo-3 {
    background: url(img/produtos/cake3.jpg) no-repeat center;
    background-size: 110%;
    opacity: 80%;
}

.bolo-4 {
    background: url(img/produtos/cake4.jfif) no-repeat center;
    background-size: 110%;
    opacity: 80%;
}


.bolo-5 {
    background: url(img/produtos/cake5.jpg) no-repeat center;
    background-size: 110%;
    opacity: 80%;
}

.bolo-6 {
    background: url(img/produtos/cake6.jpg) no-repeat center;
    background-size: 110%;
    opacity: 80%;
}

.bolo-7 {
    background: url(img/produtos/cake7.jpeg) no-repeat center;
    background-size: 110%;
    opacity: 80%;
}


.bolo-8 {
    background: url(img/produtos/cake8.jpg) no-repeat center;
    background-size: 110%;
    opacity: 80%;
}

.bolo-9 {
    background: url(img/produtos/cake9.jpg) no-repeat center;
    background-size: 150%;
    opacity: 80%;
}
