.doce-1 {
    background: url(img/produtos/doces/doce1.jpg) no-repeat center;
    background-size: 200%;
    opacity: 80%;
}


.doce-2 {
    background: url(img/produtos/doces/doce2.jpg) no-repeat center;
    background-size: 200%;
    opacity: 80%;
}

.doce-3 {
    background: url(img/produtos/doces/doce3.jpg) no-repeat center;
    background-size: 200%;
    opacity: 80%;
}

.doce-4 {
    background: url(img/produtos/doces/doce4.jpg) no-repeat center;
    background-size: 200%;
    opacity: 80%;
}


.doce-5 {
    background: url(img/produtos/doces/doce5.jpg) no-repeat center;
    background-size: 200%;
    opacity: 80%;
}

.doce-6 {
    background: url(img/produtos/doces/doce6.jpg) no-repeat center;
    background-size: 200%;
    opacity: 80%;
}

.doce-7 {
    background: url(img/produtos/doces/doce7.jpg) no-repeat center;
    background-size: 200%;
    opacity: 80%;
}


.doce-8 {
    background: url(img/produtos/doces/doce8.jpg) no-repeat center;
    background-size: 200%;
    opacity: 80%;
}

.doce-9 {
    background: url(img/produtos/doces/doce9.jpg) no-repeat center;
    background-size: 200%;
    opacity: 80%;
}

.doce-10 {
    background: url(img/produtos/doces/doce10.jpg) no-repeat center;
    background-size: 200%;
    opacity: 80%;
}

.doce-11 {
    background: url(img/produtos/doces/doce11.jpg) no-repeat center;
    background-size: 200%;
    opacity: 80%;
}

.doce-12 {
    background: url(img/produtos/doces/doce12.jpg) no-repeat center;
    background-size: 150%;
    opacity: 80%;
}