body {
    font-family: 'Poppins', sans-serif;
}

.titulo__equipe {
    margin-top: 8rem;
    text-align: center;
    font-size: var(--big-font);
    color: var(--main-color);
    font-family: 'Ms Madi', cursive;
    font-weight: 500;
}

main {
    max-width: 90%;
    height: 60vh;
    margin: 3rem auto;
    color: var(--bg-color);
    

}

.equipe__container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
    
}

.equipe__content {
    height: 85%;
    width: 19%;
    position: relative;
    background: #fef2e5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5%;
    
    transition: all 0.3s ease;
}

.equipe__content:hover {
    margin-bottom: 1rem;
}

.membro__img {
    border: 3px solid var(--second-color);
    border-radius: 100%;
    width: 55%;
    height: 45%;
    object-fit: cover;
}

.membro__nome {
    max-width: 100%;
    font-size: 1rem;
    font-weight: 500;
}

.membro__funcao {
    font-size: .9rem;
}

.membro__btn-sobre:hover {
    background-color: #391a1a;
}

.caixa-f ul li a:hover {
    color: var(--text-color);
    transform: translateY(-3px);   
}

.social {
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social a {
    margin: 5px;
    width: 40px;
    height: 40px;
    background: var(--main-color);
    color: var(--text-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border-radius: 50%;
}

@media (max-width: 1040px) {

.equipe__container {
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly; 
    
}

.equipe__content {
    height: 85%;
    width: 19%;
    position: relative;
    background: #fef2e5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5%;
    
    transition: all 0.3s ease;
}
 }